@font-face {
    font-family: 'bellotaregular';
    src: url('Bellota-Regular-webfont.eot');
    src: url('Bellota-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Bellota-Regular-webfont.woff2') format('woff2'),
         url('Bellota-Regular-webfont.woff') format('woff'),
         url('Bellota-Regular-webfont.ttf') format('truetype'),
         url('Bellota-Regular-webfont.svg#bellotaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ----- body ----- */

body{
    font-family: 'bellotaregular' ;
    
}



/* ----- Header ----- */ 




/* -----nav----- */ 

nav{
    background-color: #f3f3f3ee;
    z-index: 999;
    #logo{
        height: 140px;
        position: absolute;  
        margin-left: 50px;
        margin-top: -5px;
    }
    .navbar-toggler-icon{
        color:black;
    }
    a{
        color: #15c5bd !important;

        &:hover{
            
            color: #303030;;
        }
    }
    
}






/*Jumbotron*/

.jumbotron-img{
    
    text-align: center;
    margin-bottom: 100px;
    h1{
        
        font-weight: normal;
        margin-bottom: 1px;
    }
    .lead{
        font-weight: normal;
    }
    p{
        font-weight: lighter;
    }
    .btn {
        background-color: #15c5bd ;
        border: none;
        &:hover{
            background-color: #0f8b85 ;
        }
    }

    position: relative;
    height: 500px;
    &:before{
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-image: url('../../img/rasp.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: brightness(50%);
    }
    *{
        position: relative;
        color: white;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* ------ Présentation ----- */
.article-intro{
    width: auto;
    height: auto;
    padding: 30px;
    margin: 30px;
    margin-bottom: 50px;
    img{
        width: inherit;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.342);
    }
    .intro-text{
        padding: 30px;
        
        p{
            padding-left: 20px;
            border-left: 2px solid #15c5bd;
        }
    }
    .intro-cel{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    i{
        margin-left: 15px;
        color: #15c5bd;
    }
    i:hover{
        color: #303030;
    }
}

/* interligne */ 
#interligne{
    margin-bottom: 80px;
    width: 500px;
    border: 1px solid #303030;
}

/* ----- para ------ */ 

.parralax{

    width: 100%;
    height: 80vh;
    background: url("/img/para.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
    


}

/* ----- rasp ------ */ 

.spons{
    h2{
        color: #30303050;
        font-size: 5em;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bolder;
        margin-bottom: 80px;
    }
    .rasb{
        opacity: 0.5;
    }
}
@media only screen and (max-width: 600px) {
    .spons {
      h2{
          font-size: 2.5em;
          
      }
    }
    .rasb{
        text-align: center;
    }
  }

/* ----- CARD ----- */ 

.card-cont{
    
    margin-bottom: 100px;
    .card{
        border: 1px solid #30303000;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.233);
        text-align: center;
        .card-body{
            
            .btn{
                background-color: #0f8b85;
                border: none;
                
                
                &:hover{
                    background-color: #0b6b66;
                }
            }
            h5{
                text-align: center;
                margin-top: -10px;
                font-weight: bold;
                color: #15c5bd;
            }
            p{
                font-size: 0.8em ;
                font-weight: bold;
                color: #303030;
            }
        }
    }
}







/* ----- FOOTER ----- */

footer{
    background-color: #303030;
    color: white;
}


/* ----- FORMULAIRE -----*/ 
#formulaire{
    #logosup{
        height: 50px;
    }
    h2{
        margin-top: 30px;
        
    }
    .adresse{
        color: #303030;
        margin-left: 60px;
        
    }
    #bouton{
        background-color: #0b6b66;
        border: none;
        margin-top: 10px;
        margin-left:150px;
        margin-right: 150px;
        color: white;
        border-radius: 5px;
    }
    form{
        display: flex;
        flex-direction: column;
        
        label{
            font-weight: bold;
            font-size: 0.8em;
            margin-top: 20px;
        }
        
    }
}

/* ------ send ----- */ 

#okey{
    text-align: center;
    margin-bottom: 100px;
    h1{
        
        font-weight: normal;
        margin-bottom: 1px;
    }
    .lead{
        font-weight: normal;
    }
    p{
        font-weight: lighter;
    }
    .btn {
        background-color: #15c5bd ;
        border: none;
        &:hover{
            background-color: #0f8b85 ;
        }
    }

    position: relative;
    height: 500px;
    &:before{
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-image: url('../../img/usb.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: brightness(50%);
    }
    *{
        position: relative;
        color: white;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

