/*Jumbotron*/
.jumbotron-img{
    position: relative;
    &:before{
        content: "";
        position: absolute;
        left: 0px;
        width: 100%;
        height: 100%;
        background-image: url('../../img/rasp.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: grayscale(100%);
    }
    *{
        position: relative;
        color: white;
    }
}

.jumbotron-img::before{

}


.module {
    position: relative;
  }
  .module::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(graphic-to-be-filtered.jpg);
    filter: grayscale(100%);
  }
  .module-inside {
    /* This will make it stack on top of the ::before */
    position: relative;
  }